/*
* ----------------------------------------------------------------------------------------
* ----------------------------------------------------------------------------------------
*/
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {}
@media only screen and (device-width : 375px) and (device-height : 812px) and (orientation: landscape) and (-webkit-device-pixel-ratio : 3) {}
@media only screen and (device-width : 812px) and (device-height : 375px) and (orientation: portrait) and (-webkit-device-pixel-ratio : 3) {}
@media screen and (max-width: 2560px) {}
@media screen and (max-width: 1440px) {}
@media screen and (max-width: 1366px) {}
@media screen and (max-width: 1128px) {}
@media screen and (max-width: 1024px) {
    #wrap-hero {
        height: 50vh;
    }
    #wrap-hero:after {
        height: 50vh;
    }
    .inner-herocontent {
        height: 50vh;
        min-height: unset;
    }
    .detail-herowrap h1 { 
        font-size: 60px; 
    }
    .sosmed-home {
        margin-top: 30px;
    }
    .sec-detailherowrap h3 { 
        font-size: 20px;
    }
    .mini-detail p { 
        font-size: 18px;
        /*color: #1b1a18;*/
    }
    .button-link {
        font-size: 13px;
    }
    .wrap-imageabout { 
        margin: 0 15px;
    }
    .theme-switcher {
        top: 10px;
    }
}
@media (max-width: 999px) {
    .padtopbottom {
        margin: 30px 0;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 10px;
        position: relative;
        top: -50px;
    }
    .wrap-imageabout { 
        margin: 0 0;
    }
    .wrap-itemresume {
        flex-direction: column;
        margin: 15px 0;
    }
    .wrap-еducation{
        flex-direction: column;
    }

    .button-menu {
        display: block;
    }
    .navigation-big {
        display: none;
    }
    #header-wrap {
        padding-bottom: 35px;
    }
    .detail-herowrap {
        text-align: center;
    }
    .head-sosmed {
       display: none;
    }
    .sec-detailherowrap p.title-detail {
        padding-left: 0; 
        margin-bottom: 40px;
        display: none;
    }
    .sec-detailherowrap {
        padding-left: 0;
        text-align: center;
    }
    .sec-detailherowrap h3 {
        font-size: 24px;
    }
    .detail-herowrap h1 {
        font-size: 50px;
    }
    .wrap-imageabout {
        margin-top: 50px;
    }
    .big-text {
        display: none;
    }
    .r-side {
        margin-top: 30px;
    }
    .porto-item {
        width: 50%;
    }
    #contact-section:after {
        width: 100%; 
        height: 50%;
    }
    .item-partner img {
        margin: 0 auto;
    }
    .mini-detail {
        padding: 20px 10px;
    }

    #wrapido {
        flex-wrap: wrap;
    }

    .wrap-whatido {
        min-height: 305px;
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 30px;
    }
    .col-lg-6.contact {
        flex: 0 0 37%;
        max-width: 37%;
    }
}
@media (max-width: 900px) {
    .icon-w {
        position: relative;
        font-size: 60px;
        margin: 0 auto;
        text-align: center;
        display: flex
    ;
        justify-content: center;
    }
    .inner-detailido {padding-left: 0;}
}
@media (max-width: 860px) {}
@media only screen and (max-width: 699px) {
    .porto-item {
        width: 100%;
    }
}
@media only screen and (max-width: 580px) {}
@media (max-width: 480px) {}
@media (max-width: 360px) {}
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2) {}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 2) {}


@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* Колонки */
@media (min-width: 992px) {
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-lg-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-lg-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .offset-lg-4 {
        margin-left: 33.33333%;
    }
}
